p {
    text-align: justify;
}

body {
    max-width: 900px;
    margin: 0 auto;   /* 👈 esto lo centra */
    padding: 40px;
}

img {
    display: block;
    width: 70%;
    max-width: 700px;
    height: auto;
    margin: 0 auto 40px auto;
}
